<div id="summary-charts-entries-container">
    <canvas id='chart-entries' height=250>
    </canvas>
</div>

<script>
    <%= render partial: 'shared/scan_results/entries/chart_load_data',
        formats: :js,
        locals: {
            data: data
        } %>
</script>
