<div id="advanced_affected_page">
    <h3>
        <a class="anchor" href="#!/advanced_affected_page">
            <span class="fa fa-link"></span>
        </a>

        Affected page:

        <span class="text-muted fs-6">
            <%= link_to_url_with_external(
                    external: entry.page.dom.url,
                    internal: site_path(
                        entry.revision.scan.site,
                        sitemap_entry_url( entry.page.sitemap_entry )
                    ),
                    display_path_only: true
                )
            %>
        </span>
    </h3>

    <p class="text-muted">
        Information about the page at its vulnerable state.
    </p>

    <%= render 'entries/advanced/page',
               entry: entry,
               page: entry.page,
               id: 'advanced_affected_page' %>
</div>

<hr/>

<div class="mt-3" id="advanced_referring_page">
    <h3>
        <a class="anchor" href="#!/advanced_referring_page">
            <span class="fa fa-link"></span>
        </a>

        Referring page:

        <span class="text-muted fs-6">
            <%= link_to_url_with_external(
                    external: entry.referring_page.dom.url,
                    internal: site_path(
                        entry.revision.scan.site,
                        sitemap_entry_url( entry.referring_page.sitemap_entry )
                    ),
                    display_path_only: true
                )
            %>
        </span>
    </h3>

    <p class="text-muted">
        Information about the page that included the logged input vector.
    </p>

    <%= render 'entries/advanced/page',
               entry: entry,
               page: entry.referring_page,
               id: 'advanced_referring_page' %>
</div>
