<div id="summary-statistics">
  <%= render partial: 'shared/scan_results/summary/statistics',
             locals: {
               data: { scan_results_owner: @revision || @scan || @site }
             } %>
</div>

<hr/>

<div class="row">
  <div class="col-md-12">
    <%= render partial: 'shared/scan_results/summary/chart',
               locals: {
                 data: data[:chart_data]
               } %>
  </div>
</div>
