<div id="summary-statistics">
  <%= render partial: 'shared/scan_results/entries/statistics',
             locals: {
               data: data
             } %>
</div>

<div class="row">
  <div class="col-md-12">
    <%= render partial: 'shared/scan_results/summary/chart',
               locals: {
                 data: data[:chart_data]
               } %>
  </div>
</div>
