<% if entry.platform %>
    <div id="identification-platform">
        <p class="alert alert-info">
            Affected platform type belongs to the
            <strong><%= entry.platform.type.name %></strong>
            category, identified as
            <strong><%= entry.platform.name %></strong>.
        </p>
    </div>
<% end %>
