<div class="row">
  <div class="summary-charts-entries-container col-3">
    <h3>Review status</h3>
    <canvas id='chart-entries-states'>
    </canvas>
  </div>

  <div class="summary-charts-entries-container col-3">
    <h3>Input vector types</h3>
      <canvas id='chart-entries-input-types'>
      </canvas>
  </div>

  <div class="summary-charts-entries-container col-3">
    <h3>Input value types</h3>
    <canvas id='chart-entries-value_types'>
    </canvas>
  </div>

  <div class="summary-charts-entries-container col-3">
    <h3>Sinks</h3>
    <canvas id='chart-entries-sinks'>
    </canvas>
  </div>


</div>

<div class="row">
  <div class="summary-charts-entries-container col-3">
    <h3>Platforms</h3>
    <canvas id='chart-entries-platforms'>
    </canvas>
  </div>
</div>

<% if data[:total_entries].to_i > 0 %>
<script>
    <%= render partial: 'shared/scan_results/summary/chart_load_data',
        formats: :js,
        locals: {
            data: data
        } %>
</script>
  <% else %>
  <script>
      var arr = ['chart-entries-states', 'chart-entries-input-types', 'chart-entries-sinks', 'chart-entries-platforms',
          'chart-entries-value_types'];

      for( let i = 0; i < arr.length; i++ ) {
          var c = document.getElementById( arr[i] );
          var ctx = c.getContext("2d");
          ctx.fillText("Pending scan results.", 50, 50);
      }
  </script>
<% end %>
